
body {
  width: 100vw;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: auto;
  background-color: black;
  padding-top: 8.89vh;
  padding-bottom: 0;
}
* {
  text-decoration: none;
}
a {
  color: #8C56B6;
}
  .m {
    width: 100%;
    height: 7.44vh;
    margin-top: 0 auto;
    display: inline-block;
    position: fixed;
    background-color: black;
    top: 0;
    z-index: 1;
  }
  .pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
  .s {
    height: 7.44vh;
    margin-left: 2.78vw;
    margin-right: 2.78vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'PT Mono', monospace;
    color: #8C56B6;
  }
  .black:hover a {
    color: #FFCD00;
  }
  .s p:hover {
    color: #FFCD00;
  }
  .other {
    margin: 0 auto;
  }
  .pages p {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin-top: 2.22vh;
  }
  .black {
    height: 7.44vh;
    width: 8.747em;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.07em;
  }
  .white {
    height: 7.44vh;
    width: 59.51vw;
  }

  .container {
    position: relative;
    margin-left: 2.78vw;
    margin-right: 2.78vw;
    border: 1px solid #8C56B6;
    /* height: 84.29vh; */
    display: flex;
    flex-direction: column;
  }
  .header {
    display: block;
    height: 13.92vh;
    width: 100%;
  }
  .header h1 {
    position: relative;
    font-size: 1.9rem;
    font-family: PT Mono;
    font-weight: normal;
    line-height: 2.5vw;
    color: #E0E0E0;
    margin-top: calc(6.5vh - 1.25vw);
    margin-left: 2.78vw;
  }

  input[type="text"] {
  display: block;
  position: relative;
  padding: 0 18px;
  border: 1px solid #8C56B6;
  background: black;
  color: #E0E0E0;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  font-family: Open Sans;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  transition: border 0.5s ease;
  }
  input[type="text"]:focus {
    border: 1px solid #FFCD00;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8C8C8C;
    font-style: normal;
    font-weight: 300;
    font-size: 1.18vw;
    font-family: Open Sans;
  }
  select {
    display: block;
    width: 45%;
    position: relative;
    height: 46px;
    padding: 0 18px;
    font-size: 17px;
    border: 1px solid #8C56B6;
    background: black;
    color: #E0E0E0;
    font-family: Open Sans;
  }
  .marginal {
    margin-left: 2.78vw;
    margin-right: 2.78vw;
  }
  .row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.22vw;
  }

/* new one */

form {
/* width: 31.26%; */
color: #E0E0E0;
font-family: Open Sans;
}

#nights, #sudba {
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
height: 5.3vh;
background-color: black;
border: 1px solid #8C56B6;
color: #8d90a2;
}

.select {
/* font-size: 20px !important; */
/* color: #071933; */
transition: color .2s ease-in-out;
-webkit-transition: color .2s ease-in-out;
}

#nights:hover > .select {
color: #dfbe65;
}

.select_text, .select_text_2 {
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
  color: #8C8C8C;
padding-left: 18px;
}
.open {
position: relative;
width: 0.6rem;
height: 0.6rem;
padding-right: 18px;
}
.up {
position: absolute;
background: url("../images/open.svg");
background-size: contain;
background-repeat: no-repeat;
transition: transform 0.5s ease;
width: inherit;
height: inherit;
}

/* WARNING:  */
.mur {
position: absolute;
background: url("../images/open.svg");
background-size: contain;
background-repeat: no-repeat;
transition: transform 0.5s ease;
width: inherit;
height: inherit;
}
/* WARNING:  */

.closed {
transform: rotate(180deg);
}
.mew {
transform: rotate(0deg);
}
ul#night_option {
width: 100%;
background-color: black;
border-left: 1px solid #8C56B6;
border-right: 1px solid #8C56B6;
position: absolute;
z-index: 10;
display: none;
box-sizing: border-box;
}

ul.wow {
width: 18.7vw;
background-color: black;
border-left: 1px solid #8C56B6;
border-right: 1px solid #8C56B6;
/* position: absolute; */
z-index: 10;
width: 100%;
position: absolute;
box-sizing: border-box;
}
.none {
display: none;
}
.block {
display: block;
}
ul#night_option li, ul.wow li {
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 1em;
color: #E0E0E0;
padding-left: 18px;
text-decoration: none;
list-style: none;
border-bottom: 1px solid #8C56B6;
height: 5.11vh;
display: flex;
align-items: center;
text-align: right;
transition: background-color .2s ease-in-out;
-webkit-transition: background-color .2s ease-in-out;
cursor: pointer;
}

#nights:hover .up {
background: url("../images/openactive.svg");
background-size: contain;
width: 0.6rem;
height: 0.6rem;
background-size: contain;
background-repeat: no-repeat;
transition: transform 0.5s ease;
}

/* WARNING:  */
#sudba:hover .mur {
background: url("../images/openactive.svg");
background-size: contain;
width: 0.6rem;
height: 0.6rem;
background-size: contain;
background-repeat: no-repeat;
transition: transform 0.5s ease;
}
/* WARNING:  */



#nights:hover .select_text {
color: #8C56B6;
}
#sudba:hover .select_text_2 {
color: #8C56B6;
}
ul#night_option li:hover {
background-color: #8C56B6;
}
#nightselect, #svolo {
display: none;
}
ul.wow li:hover {
background-color: #8C56B6;
}


/* new new */
#phone-input {
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
height: 5.67vh;
background-color: black;
border: 1px solid #8C56B6;
color: #8d90a2;
/* color: #E0E0E0; */
font-family: Open Sans;
width: 100%;
padding-left: 18px;
box-sizing: border-box;
cursor: text;
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
}
#ph {
position: relative;
width: 100%;
}
.aaaaa {
  display: none;
}
.nana {
position: relative;
      margin-right: 2.22vw;
      width: 100%;
      height: 5.67vh;
      display: flex;
          align-items: center;
}
.sur {
position: relative;
      width: 100%;
      height: 5.67vh;
      display: flex;
          align-items: center;
}
.zozo {
position: relative;
}
.zozoo {
width: 27.5%;
}
.tele {
width: 70%;
margin-right: 2.22vw;
}

.float {
transition: all 0.8s ease;
}
.done {
transition: all 0.8s ease;
left: auto;
right: 5%;
font-size: 0.7em;
opacity: 1;
color: #8C8C8C;
font-weight: 300;
font-family: Open Sans;
position: absolute;
display: none;
}

input:focus ~ .float,
input:not(:focus):valid ~ .floating-label{
/* top: 8px; */
/* bottom: 10px; */
left: auto;
right: 5%;
font-size: 0.7em;
opacity: 1;
}

label {
color: #8C8C8C;
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
position: absolute;
/* top: calc(50% - 6px); */
left: 18px;
}
#secondone {
margin-bottom: 3.89vw;
}
.have, .pred {
font-family: PT Mono;
font-style: normal;
font-weight: normal;
color: #E0E0E0;
font-size: 1em;
}
.send {
display: flex;
justify-content: center;
align-items: center;
}
#thelast {
margin-bottom: 6.5vh;
}
.send:hover {
background-color: #8C56B6;
}
.button {
font-family: PT Mono;
font-style: normal;
font-weight: normal;
color: #E0E0E0;
font-size: 1em;
cursor: pointer;
}
.kids p {
color: #757575;
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
position: relative;
left: 0;
margin-right: 2vw;
}
.maybe {
position: absolute;
width: 25.9%;
box-sizing: border-box;
/* width: 100%; */
position: absolute;

}
.wow {
position: absolute;
width: 18.5vw;
box-sizing: border-box;

}
#stable {
color: #8C8C8C;
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
position: relative;
left: 0;
}
.kids {
display: flex;
flex-direction: row;
align-items: center;
}
.kid {
background: url("../images/kids.svg");
height: 7vh;
width: 4.69vw;
background-size: contain;
background-repeat: no-repeat;
margin-right: 0.8vw;
}
.pets {
background: url("../images/pets.svg");
height: 7vh;
width: 4.3vw;
background-size: contain;
background-repeat: no-repeat;

}
#many {
align-items: center;
margin-bottom: 6.67vh;
}

/* new */




.custom_radio{
display: flex;
flex-direction: row;
margin-left: -36px;
}
.custom_radio_2 {
display: flex;
flex-direction: row;
margin-left: 0px;
cursor: pointer;
}
.custom_radio input[type="radio"]{
display: none;
}
.custom_radio_2 input[type="checkbox"]{
display: none;
}
.yes {
height: 7vh;
display: flex;
align-items: center;
cursor: pointer;
}
.no {
height: 7vh;
display: flex;
align-items: center;
cursor: pointer;
}
.custom_radio input[type="radio"] + label{
position: relative;
display: inline-block;
padding-left: 10vh;
margin-right: 5.1vw;
/* cursor: pointer; */
/* line-height: 1em; */
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.custom_radio_2 input[type="checkbox"] + label{
position: relative;
display: inline-block;
padding-left: 4vh;
margin-right: 5.1vw;
line-height: 3.67vh;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
cursor: pointer;
}
.custom_radio input[type="radio"] + label:before,
.custom_radio input[type="radio"] + label:after{
content: '';
position: absolute;
top: -3vh;
left: 0;
width: 7vh;
height: 7vh;
text-align: center;
border-radius: 50%;
-webkit-transition: all .3s ease;
transition: all .3s ease;
cursor: pointer;
}
.custom_radio_2 input[type="checkbox"] + label:before,
.custom_radio_2 input[type="checkbox"] + label:after{
content: '';
position: absolute;
top: 0;
left: -11%;
width: 3.67vh;
height: 3.67vh;
text-align: center;
-webkit-transition: all .3s ease;
transition: all .3s ease;
cursor: pointer;
}
.mobik {
  display: none;
}
#mobik {
  display: none;
}

.custom_radio input[type="radio"] + label:before {
-webkit-transition: all .3s ease;
transition: all .3s ease;
box-shadow: inset 0 0 0 1px #8C56B6, inset 0 0 0 1em black;
}
.custom_radio_2 input[type="checkbox"] + label:before {
-webkit-transition: all .3s ease;
transition: all .3s ease;
box-shadow: inset 0 0 0 1px #8C56B6, inset 0 0 0 1em black;
}

.custom_radio input[type="radio"] + label:hover:before {
-webkit-transition: all .3s ease;
transition: all .3s ease;
box-shadow: inset 0 0 0 15px black;
background-color: #8C56B6;
}
.custom_radio_2 input[type="checkbox"] + label:hover:before {
-webkit-transition: all .3s ease;
transition: all .3s ease;
box-shadow: inset 0 0 0 10px black;
background-color: #8C56B6;
}

.custom_radio input[type="radio"]:checked + label:before {
-webkit-transition: all .3s ease;
transition: all .3s ease;
box-shadow: inset 0 0 0 1px #8C56B6, inset 0 0 0 10px black;
background-color: #FFCD00;
}
.custom_radio_2 input[type="checkbox"]:checked + label:before {
-webkit-transition: all .3s ease;
transition: all .3s ease;
box-shadow: inset 0 0 0 1px #8C56B6, inset 0 0 0 6px black;
background-color: #FFCD00;
}
.rule {
width: 100%;
}
#mmmm {
margin-right: 2.22vw;
position: relative;
}
.checkbox-button {
cursor: pointer;
}

input[type=checkbox] {
box-sizing: border-box;
padding: 0;
}

input {
font-size: 1rem;
line-height: 1.5;
padding: 11px 23px;
border: 1px solid rgba(0,0,0,.15);
border-radius: 0;
outline: 0;
background-color: transparent;
}

.checkbox-button__input {
opacity: 0;
position: absolute;
left: 0;
}

.checkbox-button__control {
position: relative;
display: inline-block;
width: 20px;
height: 20px;
margin-right: 12px;
vertical-align: middle;
background-color: inherit;
color: #017b5f;
border: 2px solid #8C56B6;
margin-left: 10px;
}

.checkbox-button__input:checked+.checkbox-button__control:after {
content: "";
display: block;
position: absolute;
top: 5px;
left: 5px;
width: 10px;
height: 10px;
background-color: #FFCD00;
}

.checkbox-button__input:checked+.checkbox-button__control {
border-color: #8C56B6;
}

.checkbox-button__control {
transform: scale(0.75);
}
.send {
height: 5.67vh;
width: 100%;
border: 1px solid #8C56B6;
}
#ah {
margin-top: 20px;
}
#appt {
display: block;
position: relative;
width: 100%;
padding: 0;
padding-left: 18px;
height: 5.5vh;
background-color: black;
border: 1px solid #8C56B6;
color: #E0E0E0;
box-sizing: border-box;
cursor: text;
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
}
.time {
width: 100%;
position: relative;
}
input[type="time"]::-webkit-calendar-picker-indicator {
background: none;
}
.timing {
position: absolute;
color: #8C8C8C;
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
left: 0px;
top: 1px;
left: 18px;
line-height: 5vh;
transition: all 0.8s ease;
background-color: black;
width: 5vw;
height: 90%;
}
input:focus ~ .timing,
input:not(:focus):valid ~ .floating-label{
left: auto;
right: 3%;
font-size: 0.7em;
opacity: 1;
}
#appt:focus {
color: #E0E0E0;
}
#meh {
margin-bottom: 6.22vh;
}

#hehe {
margin-bottom: 3vh;
}
.adress, .facebook, .tripadvisor {
display: flex;
align-items: center;
justify-content: space-between;
height: 5.5vh;
width: 100%;
transition: all 0.5s ease;
border: 1px solid #8C56B6;
cursor: pointer;
}
.crosspic {
margin-right: 18px;
position: relative;
width: 1vw;
height: 1vw;
background: url("../images/cross.svg");
background-size: cover;
background-repeat: no-repeat;
cursor: pointer
}
.adress:hover .crosspic {
margin-right: 18px;
position: relative;
width: 1vw;
height: 1vw;
background: url("../images/crossyellow.svg");
background-size: cover;
background-repeat: no-repeat;
}

.telephone, .afisharu {
display: flex;
align-items: center;
height: 5.5vh;
width: 100%;
border: 1px solid #8C56B6;
transition: all 0.5s ease;
cursor: pointer;
margin-right: 2.22vw;
}
#haha a {
width: 100%;
height: 100%;
display: flex;
align-items: center;
}
.gmail {
display: flex;
align-items: center;
height: 5.5vh;
width: 70%;
border: 1px solid #8C56B6;
transition: all 0.5s ease;
cursor: pointer;
margin-right: 2.22vw;
}
.telegram {
width: 27.5%;
display: flex;
align-items: center;
height: 5.5vh;
border: 1px solid #8C56B6;
cursor: pointer;
transition: all 0.5s ease;

}
.instagram {
width: 27.5%;
display: flex;
align-items: center;
height: 5.5vh;
border: 1px solid #8C56B6;
margin-right: 2.22vw;
cursor: pointer;
transition: all 0.5s ease;

}
.messanger {
display: flex;
align-items: center;
height: 5.5vh;
width: 70%;
border: 1px solid #8C56B6;
cursor: pointer;
transition: all 0.5s ease;
}
#phone-input::placeholder {
  font-size: 1rem;
}
.adress p, .telephone p, .gmail p, .instagram p, .afisharu p {
color: #8C8C8C;
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
position: relative;
/* top: calc(50% - 6px); */
margin-left: 18px;
}
.facebook p, .telegram p, .messanger p, .tripadvisor p {
color: #8C8C8C;
font-style: normal;
font-weight: 300;
font-size: 1em;
font-family: Open Sans;
position: relative;
margin-left: auto;
margin-right: 18px;
}
.adress:hover, .telephone:hover, .facebook:hover, .gmail:hover, .telegram:hover, .instagram:hover, .messanger:hover, .afisharu:hover, .tripadvisor:hover {
background-color: #8C56B6;
}
.adress:hover p, .telephone:hover p, .facebook:hover p, .gmail:hover p, .telegram:hover p, .instagram:hover p, .messanger:hover p, .afisharu:hover p, .tripadvisor:hover p {
color: #E0E0E0;
}
.copyright {
color: #757575;
font-style: normal;
font-weight: 300;
font-size: 0.8em;
font-family: Open Sans;
position: relative;
margin-bottom: 6.5vh;
}
#haha {
margin-bottom: 7vh;
}
.map {
top: 19.74vh;
width: 94.1%;;
position: absolute;
height: 59%;
}
.yandex {
width: 100%;
height: 100%;
}
.strike {
position: relative;
display: inline-block;
}
.strike p:hover {
color: #8C56B6
}
.strike::before {
content: '';
border-bottom: 0.3vw solid #FFCD00;
width: 100%;
position: absolute;
right: 0;
top: calc(2.22vh + 0.4rem);
}
.popup {
width: 50vw;
height: 44vh;
background-color: #8C56B6;
position: fixed;
top: calc(52% - 22vh);
left: calc(50% - 25vw);
display: none;
}
.popup h1 {
position: relative;
font-size: 1.9rem;
font-family: PT Mono;
font-weight: normal;
line-height: 2.5vw;
color: #E0E0E0;
margin-top: calc(6.5vh - 1.25vw);
margin-left: 2.78vw;
margin-bottom: calc(6.5vh - 1.25vw);
}
.h_c {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
#pop {
margin-right: 2.78vw;
width: 1.5vw;
height: 1.5vw;
}
#pop:hover {
margin-right: 2.78vw;
position: relative;
width: 1.5vw;
height: 1.5vw;
background: url("../images/crossyellow.svg");
background-size: cover;
background-repeat: no-repeat;
}
.popup p {
color: #E0E0E0;
font-style: normal;
font-weight: 300;
font-size: 1rem;
font-family: Open Sans;
position: relative;
line-height: 2vw;
margin-left: 2.78vw;
}
.popbg {
background-color: black;
opacity: 0.5;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
backdrop-filter: blur(8px);
display: none;
}
#mobil {
  display: none;
}
.popup span {
text-decoration: underline #FFCD00;
}
a:hover {
color: #FFCD00;
}
.strike a:hover {
color: #8C56B6;
}
.suchara {
transform: scale(2);
}

/* mobile */

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: 7vh;
  width: 100%;
}
.mobcont {
  height: 100%;
  margin-left: 4vw;
  margin-right: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'PT Mono', monospace;
}
.lines {
  height: 50%;
  width: 8vw;
  position: relative;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #8C56B6;
  position: absolute;
}
.lina, .linb {
  top: 0%;
  transition: all 1s ease;
}
.linan {
  top: 490%;
}
.linbn {
  top: 860%;
}
.linc, .lind {
  top: calc(50% - 1px);
  transition: all 1s ease;
}
.lincn {
  top: 1240%;
}
.lindn {
  top: 1602%;
}
.linee, .linf {
  bottom: 0%;
  transition: all 1s ease;
}
.lineen {
  bottom: -1890%;
}
.linfn {
  bottom: -2260%;
}
.black2, .appear, .razdel {
  height: 7.44vh;
  width: 8.747em;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.07em;
  line-height: 7vh;
  color: #8C56B6;
  font-family: 'PT Mono', monospace;
}
.appear a:active {
  color: #FFCD00;
}
.razdel {
    position: absolute;
    right: 4vw;
    display: none;
    transition: 1s all ease;
    text-align: right;
}
.rooms {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  display: none;
}
.appear {
  position: absolute;
  width: 100%;
  height: 79.23vh;
  top: calc(52% - 39vh);
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.appear p {
  line-height: 446%;
}
.mobfood {
  display: none;
}
#phones {
  display: none;
}
.zero {
  width: 0px;
}

.trick {
  margin-right: 10vw;
  width: 0%;
  overflow: hidden;
  transition: 1.5s all ease;
}
.ten {
  width: 10%;
}
.mobilearrow {
  display: none;
}



/* responsive */

@media only screen and (max-width: 375px) {
  /* select */
  #nightselect, #svolo {
      display: block;
      width: 100%;
      height: 5.3vh;
      color: #8C8C8C;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  .mobilearrow {
    display: block;
    position: absolute;
    top: 34%;
    right: 11%;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../images/open.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .killme {
    top: 63.5%;
    right: 58%;
  }
  #nights, #sudba {
    display: none;
  }
  /* select */
  .marginal {
    display: none;
  }
  #hehe {
    margin-bottom: 0;
  }
  .header {
    height: 42vh;
  }
  .header h1 {
    line-height: 42vh;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    transition: all 0.5s ease;
  }
  .communism {
    line-height: 13.92vh !important;
    margin-top: 0 !important;
    margin-left: 2.78vw !important;
    text-align: left !important;
  }
  .timing {
    width: 11vw;
  }
   .m {
     display: none;
   }
   html {
     font-size: 14px;
   }
   .kids {
     display: none;
   }
   #mobik {
     display: flex;
   }
   #desk {
     display: none;
   }
   .desk {
     display: none;
   }
   .mobik {
     display: flex;
   }
   .container {
     margin-left: 4vw;
    margin-right: 4vw;
   }
   .tele {
    margin-right: 0;
    width: 100%;
  }
  .zozoo {
    width: 100%;
  }
  .maybe {
    width: 93.8%;
  }
  #secondone {
    margin-bottom: 11.89vw;
}
.aaaaa {
  display: block;
}
.instagram {
    width: 96.5%;
  }
  .gmail {
    width: 100%;
    margin-right: 0;
  }
  .telegram, .messanger {
    width: 100%;
  }
  .telegram {
    margin-right: 2.22vw;
  }
  .telegram p {
    margin-right: auto;
    margin-left: 18px;
  }
  .crosspic {
    display: none;
  }
  .popup {
    width: 90vw;
    height: 48vh;
    left: calc(50% - 45vw);
    top: calc(52% - 24vh);
}
.popup p {
  line-height: 6vw;
}
#appt {
-webkit-appearance: none;
}
}

/* ipad */

@media only screen and (max-width: 768px) and (min-width: 376px) {
  /* select */
  #nightselect, #svolo {
      display: block;
      width: 100%;
      height: 5.3vh;
      color: #8C8C8C;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  .mobilearrow {
    display: block;
    position: absolute;
    top: 34%;
    right: 5%;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../images/open.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .killme {
    top: 65%;
    right: 54%;
  }
  #nights, #sudba {
    display: none;
  }
  /* select */
  #appt {
-webkit-appearance: none;
  }
  .black2, .appear, .razdel {
    font-size: 2rem;
  }
  .black2, .razdel {
    line-height: 8vh;
  }
  .marginal {
    display: none;
  }
  #hehe {
    margin-bottom: 0;
  }
  .header {
    height: 42vh;
  }
  .header h1 {
    line-height: 42vh;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    transition: all 0.5s ease;
  }
  .communism {
    line-height: 13.92vh !important;
    margin-top: 0 !important;
    margin-left: 2.78vw !important;
    text-align: left !important;
  }
  .timing {
    width: 11vw;
  }
   .m {
     display: none;
   }
   html {
     font-size: 15px;
   }
   .kids {
     display: none;
   }
   #mobik {
     display: flex;
   }
   #desk {
     display: none;
   }
   .desk {
     display: none;
   }
   .mobik {
     display: flex;
   }
   .container {
     margin-left: 4vw;
    margin-right: 4vw;
   }
   .tele {
    margin-right: 0;
    width: 100%;
  }
  .zozoo {
    width: 100%;
  }
  .maybe {
    width: 93.8%;
  }
  #secondone {
    margin-bottom: 11.89vw;
}
.aaaaa {
  display: block;
}
.instagram {
    width: 96.5%;
  }
  .gmail {
    width: 100%;
    margin-right: 0;
  }
  .telegram, .messanger {
    width: 100%;
  }
  .telegram {
    margin-right: 2.22vw;
  }
  .telegram p {
    margin-right: auto;
    margin-left: 18px;
  }
  .crosspic {
    display: none;
  }
  .popup {
    width: 90vw;
    height: 48vh;
    left: calc(50% - 45vw);
    top: calc(52% - 24vh);
}
.popup p {
  line-height: 6vw;
}
}
@media only screen and (min-width: 1442px) {
  html {
    font-size: 23px;
  }
  .custom_radio_2 input[type="checkbox"] + label:before, .custom_radio_2 input[type="checkbox"] + label:after {
    left: -7%;
  }
  .custom_radio_2 input[type="checkbox"] + label {
    padding-left: 5vh;
  }
}
